<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Thankuu. Here is the info that you gave</h1>
    <ul>
        <li>breed: {{session['breed'] }}</li>
        <li>nutrient: {{session['nutrient'] }}</li>
        <li>mood: {{session['mood'] }}</li>
        <li>food_choice: {{session['food_choice'] }}</li>
        <li>feedback: {{session['feedback'] }}</li>
    </ul>

</body>
</html>